In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
weather = pd.read_csv("weatherAUS.csv")
# netflix dataset from www.kaggle.com
weather.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [5]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65298 entries, 0 to 65297
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           65298 non-null  object
 1   Location       65298 non-null  object
 2   MinTemp        64679 non-null  float64
 3   MaxTemp        64848 non-null  float64
 4   Rainfall       63842 non-null  float64
 5   Evaporation    28173 non-null  float64
 6   Sunshine       21365 non-null  float64
 7   WindGustDir    59227 non-null  object
 8   WindGustSpeed  59235 non-null  float64
 9   WindDir9am     58624 non-null  object
 10  WindDir3pm     62535 non-null  object
 11  WindSpeed9am   63929 non-null  float64
 12  WindSpeed3pm   63311 non-null  float64
 13  Humidity9am    64016 non-null  float64
 14  Humidity3pm    63559 non-null  float64
 15  Pressure9am    55209 non-null  float64
 16  Pressure3pm    55261 non-null  float64
 17  Cloud9am       37937 non-null  float64
 18  Cloud3pm       37159 non-null  float64
 19  Temp9am        64352 non-null  float64
 20  Temp3pm        63837 non-null  float64
 21  RainToday      63841 non-null  object
 22  RainTomorrow   63842 non-null  object
dtypes: float64(16), object(7)
memory usage: 11.5+ MB

In [6]:
print(weather.std())
print('-------------------------------------')
print(weather.median())

MinTemp           6.387053
MaxTemp           6.887341
Rainfall          8.712657
Evaporation       4.313724
Sunshine          3.813798
WindGustSpeed    14.230242
WindSpeed9am      9.236760
WindSpeed3pm      9.379320
Humidity9am      17.715577
Humidity3pm      20.697049
Pressure9am       7.015152
Pressure3pm       6.901594
Cloud9am          2.922153
Cloud3pm          2.715958
Temp9am           6.114159
Temp3pm           6.707737
dtype: float64
-------------------------------------
MinTemp            11.7
MaxTemp            22.0
Rainfall            0.0
Evaporation         4.4
Sunshine            8.4
WindGustSpeed      37.0
WindSpeed9am       13.0
WindSpeed3pm       17.0
Humidity9am        72.0
Humidity3pm        53.0
Pressure9am      1018.3
Pressure3pm      1015.9
Cloud9am            5.0
Cloud3pm            5.0
Temp9am            16.4
Temp3pm            20.6
dtype: float64

<ipython-input-6-a3d30c37e856>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(weather.std())
<ipython-input-6-a3d30c37e856>:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(weather.median())

In [7]:
weather.shape

(65298, 23)

In [8]:
weather.isnull().sum()

Date                 0
Location             0
MinTemp            619
MaxTemp            450
Rainfall          1456
Evaporation      37125
Sunshine         43933
WindGustDir       6071
WindGustSpeed     6063
WindDir9am        6674
WindDir3pm        2763
WindSpeed9am      1369
WindSpeed3pm      1987
Humidity9am       1282
Humidity3pm       1739
Pressure9am      10089
Pressure3pm      10037
Cloud9am         27361
Cloud3pm         28139
Temp9am            946
Temp3pm           1461
RainToday         1457
RainTomorrow      1456
dtype: int64